ion-content {
    --background: #EFEFEF;  /* Cambia el color de fondo de la p치gina */
}

ion-item {
    --background: #EFEFEF;  /* Cambia el color de fondo de la p치gina */
    --color: #000;
}  

.background {
    --background-color: #EFEFEF;  /* Cambia el color de fondo de la p치gina */
}
ion-list {
    --background: #EFEFEF;  /* Cambia el color de fondo de la p치gina */
}

.titulo{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}