<ion-header backButton="/auth" class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>    
    
    <ion-title>Recuperar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="d-flex-center">
    <br>
    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form"  (keypress.enter)="submit()">

      <app-logo></app-logo>

      <p class="ion-text-center" style="font-weight: bold;">Ingresa tu correo electronico para enviarte un mail de recuperacion</p>

      <app-login-input
      autocomplete="email"
      type="email"
      label="Correo"
      icon="mail-outline"
      [control]="form.controls.email"
      ></app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es Requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
      </div>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="solid" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>

  </div>
</ion-content>
